@model LoginModel
@{
    ViewData["Title"] = "Criar Usuario";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar usuário</h1>
</div>

<form asp-controller="Login" asp-action="CriarLogin" method="post">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário">
        @Html.ValidationMessageFor(x => x.Login)

    </div>
    <br />
    <div class="form-group">
        <label for="Senha" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Digite a senha do usuário">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>
    <br />
    <div class="form-group">
        <label for="Email">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do usuário">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <br />
    <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
    <br />
    <a class="btn btn-secondary w-100" asp-controller="Login" asp-action="Index" role="button">Voltar</a>
</form>